<h2>Create User</h2>
 
 <% if @user.errors.present? %> 
 <div>
 <%= pluralize(@user.errors.count, "errors") %> prevented this movie from being submitted:
 <ul>
<% @user.errors.full_messages.each do |error| %>
  <li><%= error %></li>
<% end %>
</ul>
</div>
 <% end %>
<%= form_for @user, url: admin_users_path do |f| %>

  <div>
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :firstname, "First Name" %>
    <%= f.text_field :firstname %>
  </div>
  <div>
    <%= f.label :lastname, "Last Name" %>
    <%= f.text_field :lastname %>
  </div>
  <div>
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Password confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.label :is_admin, "set as admin" %>
    <%= f.check_box :is_admin %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>

<% end %>